<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Conexion" connectionString="Server =.;DataBase=TattoomyDB; Integrated Security=SSPI" />
  <add name="CapaPresentacion.My.MySettings.TattoomyDBConnectionString"
   connectionString="Data Source=.;Initial Catalog=TattoomyDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>